{% extends 'base.html.twig' %}

{% block title %}Mon compte!
{% endblock %}

{% block body %}
	{{ wo_render_breadcrumbs() }}
	<h1>Mon compte</h1>
	{% if is_granted('ROLE_ADMIN') %}
		<small>
			<a href="/admin">Vous êtes un administrateur, accéder au backoffice ?</a>
		</small><br/>
	{% endif %}
	Bienvenue
	{{ app.user.firstName }}
	dans votre compte.<br/>
	C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
	<hr>
	<div class="row">
		<div class="col-md-4">
			<div class="account-item text-center">
				<img src="{{ asset('assets/img/password.png') }}" alt="Modifier mon mot de passe"><br/>
				<a href="{{ path('account_change_password') }}">Modifier mon mot de passe</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="account-item text-center">
				<img src="{{ asset('assets/img/address-book.png') }}" alt="Gérer mes adresses"><br/>
				<a href="{{ path('account_address') }}">Gérer mes adresses</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="account-item text-center">
				<img src="{{ asset('assets/img/purchase.png') }}" alt="Mes commandes"><br/>
				<a href="{#{ path('account_order') }#}">Mes commandes</a>
			</div>
		</div>
	</div>
	<hr>

{% endblock %}
