{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block body %}
	<!-- Three columns of text below the carousel -->
	<div class="row">
		{% for product in products %}
			<div class="col-lg-4">
				<img src="/uploads/{{ product.illustration }}" style="width:50%">
				<h2>{{product.name}}</h2>
				<p>{{product.description}}</p>
				<p>
					<a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
				</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
