{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié -
{% endblock %}

{% block body %}
	<div class="block-small">

		{{ form_start(form,{
                    'attr': {'novalidate':''}
                }) }}
		<h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe</h1>
		{{ form_label(form.email) }}

		{{ form_widget(form.email) }}
		<button class="btn btn-lg btn-info btn-block mt-3" type="submit">
			Valider
		</button>
		<hr>
		<p class="text-center">Ou souhaitez-vous
			<a href="{{ path('app_login') }}">vous connecter</a>
			?</p>
		{{ form_end(form) }}

	</div>
{% endblock %}
