<form action="{{ path('product_search') }}" method="get">
	<div class="active-cyan-3 active-cyan-4 mb-4">
		<input name="q" class="form-control search-field" placeholder="Rechercher..." aria-label="Search" autocomplete="off" value="" autofocus>
	</div>
</form>
