{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Ecommerce
{% endblock %}

{% block body %}
	<h2>Nous contacter</h2>
	<p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
	<div class="row">
		<div class="col-md-8">

			{{ form_start(form, {'action': path('contact'), 'attr': {'class': 'form', 'novalidate': 'novalidate'}}) }}
			{{ form_row(form.email)}}
			{{ form_row(form.message) }}

			{{ form_row(form._token) }}
			<button type="submit" class="btn btn-lg btn-block btn-primary">Envoyer</button>

			{{ form_end(form, {'render_rest': false}) }}
		</div>
		<div class="col-md-4">
			<strong>Ecommerce</strong>
			<hr>
			06 20 30 40 50<br/>
			28 avenue jamin ,94340 JointVille le pont.<br/>
			contact@ecommerce.ma<br/>
		</div>
	</div>
	<br><br>
{% endblock %}
