{% block message %}
	<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta name="viewport" content="width=device-width"/>
			<meta charset="utf-8"/>
			<title></title>
		</head>
		<body>
			{% block body %}{% endblock %}
		</body>
	</html>
{% endblock %}
