{% extends "emails/layout.html.twig" %}

{% block subject %}{% endblock subject %}

{% block body %}
	{{mail}}<br>


	<p>Bonjour
		{{ firstname }}
		<br/>Vous avez demandé à réinitialiser votre mot de passe sur le site La Boutique Française.</p><br/><br/>
	<p>Merci de bien vouloir cliquer sur le lien suivant pour
		<a href={{ url }}>mettre à jour votre mot de passe</a>
	</p>


{% endblock %}
