{% import 'flashbag.html.twig' as macros %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Noureddine Najem">
		<meta name="generator" content="">
		<script src="https://js.stripe.com/v3/"></script>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<!-- Bootstrap core CSS -->
		<style></style>

	</head>
	<body id="{% block body_id %}{% endblock %}">
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="{{path('home')}}">Ecommerce</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('products') }}">Nos produits</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Qui sommes-nous ?</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('contact') }}">Contact</a>
						</li>
					</ul>
					<div class="navbar-item-custom">
						{% if is_granted('ROLE_USER') %}
							Hello
							<small>{{ app.user.fullName }}!</small>
							|
							<a href="{{ path('account') }}">
								<small>My account</small>
							</a>
							|
							<a href="{{ path('app_logout') }}">Déconnexion</a>
						{% else %}
							<a href="{{ path('app_login') }}">Connexion</a>
							|
							<a href="{{ path('register') }}">Inscription</a>
						{% endif %}
					</div>
					<a href="{{ path('cart') }}">
						<img src="{{ asset('assets/img/shopping-cart.png') }}" class="cart-icon" alt="Mon panier">
						<span class="badge badge-light">{{ getItemsTotal() }}</span>
					</a>

				</div>
			</nav>
		</header>

		<main role="main">
			{% if block('carousel') is defined %}
				{% include('home/slider.html.twig') %}
			{% endif %}

			<!-- /.container -->
			<div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">
				<div class="row pt-md-3 pb-md-3">
					<div class="col-md-12">
						{{ macros.messages() }}
					</div>
				</div>
				{% block body %}{% endblock %}
			</div>
		</main>
		<!-- FOOTER -->
		{% include('home/footer.html.twig') %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</body>
</html>
