{% extends 'base.html.twig' %}


{% block title %}Order
{% endblock %}


{% block body %}
	<h2>Je passe ma commande</h2>
	<p>Choisissez vos préférences avant de passer votre commande sur La Boutique Française.</p>
	<hr>
	<div class="row">
		<div class="col-md-4">

			{% set formHtml %}
			{{ form_start(form, {action:path('order_payer')}) }}

			{{ form_label(form.addresses, 'Choisissez votre adresse de livraison') }}
			<a href="{{path('account_address_add')}}">Ajouter une nouvelle adresse</a>
			{{ form_widget(form.addresses) }}
			{{ form_widget(form.submit) }}
			{{ form_end(form) }}
			{% endset %}
			{{ formHtml|replace({'[br]' : '<br/>'})|raw }}
			<a class="btn btn-success btn-block mt-3" id="checkout-button">Payer</a>
		</div>
		<div class="col-md-4">
			<div class="text-center">
				<b>Récap de ma commande</b><br/>
				<p>Retrouvez le récapitulatif de vos produits.</p>
				<div class="order-summary">
					{% for key,orderItem in order.items %}
						<div class="row {% if key > 0 %}mt-2{% endif %}">
							<div class="col-2">
								<img src="/uploads/{{ orderItem.product.illustration }}" alt="{{ orderItem.product.name }}" height="75px">
							</div>
							<div class="col-8 my-auto">
								{{ orderItem.product.name }}<br/>
								<small>{{ orderItem.product.subtitle }}</small>
							</div>
							<div class="col-2 my-auto">
								x
								{{ orderItem.quantity }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<b>Récap de ma commande</b><br/>
			<p>Retrouvez le récapitulatif de vos produits.</p>
			<div class="order-summary">
				<strong>Sous-Total :
				</strong>
				{{ (itemsPriceTotal )|number_format(2, ',', '.') }}
				€<br/>
				<strong>Livraison :
				</strong>
				€
				<hr>
				<strong>Total :
				</strong>
				{{ ((itemsPriceTotal ))|number_format(2, ',', '.') }}
				€
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script type="text/javascript">
		var stripe = Stripe("pk_test_51I3ikOE5XqBVoOIsPzF8kMxTM3I0kYwlRVa0xseCV9iX7l9Bnsss3KqQBZ4DRPgT4BClPgKKVJQNHx582Mfkwo3I00SCon347J");
var checkoutButton = document.getElementById("checkout-button");
checkoutButton.addEventListener("click", function () {
fetch("/commande/create-session", {method: "POST"}).then(function (response) {
return response.json();
}).then(function (session) {
if (session.error == 'order') {
window.location.replace('{{ path('order') }}');
} else {
return stripe.redirectToCheckout({sessionId: session.id});
}
}).then(function (result) {
// If redirectToCheckout fails due to a browser or network
// error, you should display the localized error message to your
// customer using error.message.
if (result.error) {
alert(result.error.message);
}
}).catch(function (error) {
console.error("Error:", error);
});
});
	</script>
{% endblock %}
